@model IEnumerable<GenreVM>

@{
    ViewData["Title"] = "Genres";
}

<h1>Genres</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                    @Html.ActionLink("View books", "GenreDetails", new { id = item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
